<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wysaid.cgeDemo">

    <!-- <uses-sdk android:minSdkVersion="14" -->
    <!-- android:targetSdkVersion="22" -->
    <!-- /> -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageDemoActivity"
            android:label="@string/title_activity_filter_demo" />
        <activity
            android:name=".CameraDemoActivity"
            android:label="@string/title_activity_camera_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SimplePlayerDemoActivity"
            android:label="@string/title_activity_video_player" />
        <activity android:name=".VideoPlayerDemoActivity" />
        <activity android:name=".FaceDemoActivity" />
        <activity android:name=".TestCaseActivity" />
    </application>

</manifest>