<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- WRITE_EXTERNAL_STORAGE has no effect on API 29+; keep only for Android 9 and below -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <!-- READ_EXTERNAL_STORAGE is replaced by READ_MEDIA_* on API 33+; keep only for Android 12L and below -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- Fine-grained media permissions for Android 13 (API 33)+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- Request flashlight usage instead of declaring system permission which causes install error
        Declaring android.permission.FLASHLIGHT as a <permission> attempts to define a system permission
        (and reference android.permission-group.HARDWARE_CONTROLS) which doesn't exist for third-party apps
        on newer Android versions. Use uses-permission to request the permission from the platform. -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MultiInputActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BasicImageDemoActivity"
            android:label="@string/title_activity_filter_demo2" />
        <activity
            android:name=".ImageDemoActivity"
            android:label="@string/title_activity_filter_demo" />
        <activity
            android:name=".ImageDeformActivity"
            android:label="@string/title_activity_image_deform" />
        <activity
            android:name=".CameraDemoActivity"
            android:label="@string/title_activity_camera_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SimplePlayerDemoActivity"
            android:label="@string/title_activity_video_player" />
        <activity android:name=".VideoPlayerDemoActivity" />
        <activity android:name=".TestCaseActivity" />
        <activity android:name=".ImageDemoWithMatrixActivity" />
        <activity
            android:name=".FaceTrackingDemoActivity"
            android:label="@string/title_activity_face_tracker_demo" />
    </application>

</manifest>